
- overall goal:
    - specific ROI targetting w/ minimal campaigns
- what this means for accnt structure
    - for many variables we must split campaigns to target ROI
    - want to capture greatest amt of rps variation w/ 
        fewest # of campaigns
- 2 ways of approaching this
    1. minimize rps variation w/in a campaign
        - i.e. after campaign split want to minimize rps variance w/in campaigns
        => i actually think this is eq to decision tree regression w/ split criterion MSE
        https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
        - tried this out a little - but the computation was intensive which made it slow going
    2. maximize rps variation outside campaigns
    - i.e. after campaign split want to minimize rps variance w/in campaigns
        => i actually think this is eq to decision tree regression w/ split criterion MSE
        https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
    - mostly focused on this approach

- approaches I tried
1. rank splits by their correlation/covaraince/MI w/ `agg_rps`
    - tried ANOVA,pt.biserial,MI - had most success w/ MI
    - was dificult to compute b/c couldnt find methods that accepted sample weight
    - MI approach was promising but didnt go down that route
2. rank splits by intra-split agg_rps variance
    - had most success w/ this
    - tested out an approahc where I cluster the split on rps - had good results
    - think this is the mtd to use going forward
    TODO:
    - test fitting on general traffic sources?
    - test clustering on multiple days of rps data - 
        or rolling rps data or something
    - try out more granular aggs
    - is there some kind of metric which measures total variance
        and computes how much of that variance is captured by a split?

3. fit decision tree on rps data 
    - MSE criterion is apparently the same as minimizng inter split variance
    - computationally intensive
    - not 100% clear how to go from tree to campaign structure


- can do this by
    1. choosing what vars or tuples of vars to split campaigns on
    2. grouping similar buckets w/in those splits
- want to measure correlation/dependence of categorical split vars w/ cont rps
    - cat,cat metrics w/ binned rps
        chi
    - cont,cont metrcs w/ 1 hot encoded split vars
    - cat,cont metrics
- correlation metrics
    - MI:
        - sklearn.feature_selection.mi_regression
        - would need AFAICT to rresample input arrays
    - ANOVA:
        - scipy.stats.f_oneway
    - pt biserial
        - needs binary vars tho
        - https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pointbiserialr.html
        - https://towardsdatascience.com/point-biserial-correlation-with-python-f7cd591bd3b1
- want most variation of rps w/ fewest camapaigns
- dont want to group similar buckets together - think its too complicated


TODO: 2021-05-20
  - test fitting on general traffic sources?
  - test clustering on multiple days of rps data - 
      or rolling rps data or something
  - try out more granular aggs
  - is there some kind of metric which measures total variance
      and computes how much of that variance is captured by a split?

Trevor: 2021-05-21
TODO:
- figure out how to minimize campaign # when writing back to taboola
    - want to make sure campaigns have sufficient traffic
- kw=(location,os,device)
- calc 30-day rps/kw
- can create distribution over the rps(kw) distribution
- 100 campaigns - 1 per percentile

TODO: 2021-05-24
- look into clustering each individual split variable

In [1]:
import sys
import re
import os
# detect if we are running from a `notebooks/*_shared` folder
# re.match("not.*shared",sys.path[0])
if sys.path[0].endswith("_shared"):
    sys.path[0] = "/".join(sys.path[0].split("/")[:-2])
assert sys.path[0].endswith("adtech")

from utils.env import load_env_from_aws
load_env_from_aws()

import pprint
from IPython.display import display as ipydisp    
import collections
import itertools
import datetime

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

from models.utils import wavg,get_wavg_by
from notebooks.aduriseti_shared.utils import *

NOW = datetime.datetime.now()
DAY = datetime.timedelta(days=1)

campaign_split_fields = dict(
    # traffic_source = ["traffic_source"],
    browser = ["browser"],
    operating_system = ["operating_system"],
    device = ["device"],
    # channel = ["channel"],
    # domain = ["domain"],
    product = ["product"],
    # keyword = ["keyword"],
    # campaign_id = ["campaign_id"],
    # landing_page = ["landing_page"],
    TOD = ["dayofweek","hourofday"],
    dma = ["dma"],
    state =["state",],
    location = ["state","dma"],
    
    dma_os=["dma", "operating_system"],
    dma_device=["dma", "device", ],
    dma_os_device=["dma", "operating_system", "device"],

    state_os=["state", "operating_system"],
    state_device=["state", "device", ],
    state_os_device=["state", "operating_system", "device"],

    location_os = ["state", "dma", "operating_system"],
    location_device=["state", "dma", "device", ],
    location_os_device = ["state", "dma", "operating_system","device"],
)

def get_wthresh(W,p):
    W = rps_df["sessions"].sort_values(ascending=False)
    Wsum = W.sum()
    cumsum = 0
    for wthresh in W:
        if cumsum > Wsum * p:
            break
        cumsum += wthresh
    return wthresh

start_date = NOW - 90*DAY
eval_date = NOW - 30*DAY
end_date = NOW

split2aggrps = {}
for split,split_cols in campaign_split_fields.items():
    print(split,split_cols)
    rps_df = agg_rps(start_date,end_date,None,traffic_source=TABOOLA,agg_columns=tuple(split_cols+["utc_dt"]))
    rps_df = translate_taboola_vals(rps_df)
    rps_df["split_on"] = split
    split2aggrps[split] = rps_df
    print(split,rps_df.shape)

Attempting to load environ from: `SM_ENV_BASE`
...Success!!
browser ['browser']

INFO:root:query: SELECT browser,utc_dt, COUNT(session_id)                    ... executed in 4.47 seconds
INFO:numexpr.utils:Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.

browser (94, 11)
operating_system ['operating_system']

INFO:root:query: SELECT operating_system,utc_dt, COUNT(session_id)           ... executed in 4.43 seconds

operating_system (340, 11)
device ['device']

INFO:root:query: SELECT device,utc_dt, COUNT(session_id)                     ... executed in 4.46 seconds

device (200, 11)
product ['product']

INFO:root:query: SELECT product,utc_dt, COUNT(session_id)                    ... executed in 4.35 seconds

product (90, 11)
TOD ['dayofweek', 'hourofday']

INFO:root:query: SELECT dayofweek,hourofday,utc_dt, COUNT(session_id)        ... executed in 4.77 seconds

TOD (4725, 11)
dma ['dma']

INFO:root:query: SELECT dma,utc_dt, COUNT(session_id)                        ... executed in 4.95 seconds

dma (10885, 11)
state ['state']

INFO:root:query: SELECT state,utc_dt, COUNT(session_id)                      ... executed in 4.76 seconds

state (3502, 11)
location ['state', 'dma']

INFO:root:query: SELECT state,dma,utc_dt, COUNT(session_id)                  ... executed in 4.82 seconds

location (13731, 11)
dma_os ['dma', 'operating_system']

INFO:root:query: SELECT dma,operating_system,utc_dt, COUNT(session_id)       ... executed in 5.08 seconds

dma_os (14611, 11)
dma_device ['dma', 'device']

INFO:root:query: SELECT dma,device,utc_dt, COUNT(session_id)                 ... executed in 5.05 seconds

dma_device (12420, 11)
dma_os_device ['dma', 'operating_system', 'device']

INFO:root:query: SELECT dma,operating_system,device,utc_dt, COUNT(session_id)... executed in 5.85 seconds

dma_os_device (14899, 11)
state_os ['state', 'operating_system']

INFO:root:query: SELECT state,operating_system,utc_dt, COUNT(session_id)     ... executed in 4.79 seconds

state_os (6061, 11)
state_device ['state', 'device']

INFO:root:query: SELECT state,device,utc_dt, COUNT(session_id)               ... executed in 4.87 seconds

state_device (4519, 11)
state_os_device ['state', 'operating_system', 'device']

INFO:root:query: SELECT state,operating_system,device,utc_dt, COUNT(session_i... executed in 4.81 seconds

state_os_device (6403, 11)
location_os ['state', 'dma', 'operating_system']

INFO:root:query: SELECT state,dma,operating_system,utc_dt, COUNT(session_id) ... executed in 4.99 seconds

location_os (17620, 11)
location_device ['state', 'dma', 'device']

INFO:root:query: SELECT state,dma,device,utc_dt, COUNT(session_id)           ... executed in 4.91 seconds

location_device (15343, 11)
location_os_device ['state', 'dma', 'operating_system', 'device']

INFO:root:query: SELECT state,dma,operating_system,device,utc_dt, COUNT(sessi... executed in 5.03 seconds

location_os_device (17881, 11)

In [117]:
import sklearn.preprocessing
import sklearn.cluster
import sklearn.tree

class AggRPSClust:
    def __init__(self,minclust=8):
        self.minclust = minclust
        self.split_size = None
    
    def fit(self,X,_):
        globals()["X"] = X
        assert X.index.names[-1] == "utc_dt"
        split_idx = X.reset_index()[X.index.names[:-1]] .apply(tuple,axis=1).apply(str)
        self.split_size = split_idx.drop_duplicates().__len__()
        if self.split_size <= self.minclust:
            self.ord_enc = sklearn.preprocessing.OrdinalEncoder(
                    handle_unknown="use_encoded_value",unknown_value=-1) \
                .fit(split_idx.drop_duplicates().values.reshape(-1,1))
            self.ord_enc.transform(split_idx.values.reshape(-1,1))
        else:
            self.aggX = X \
                .groupby(X.index.names[:-1]) \
                .agg({
                    "sessions": sum,
                    "rps": get_wavg_by(X,"sessions")
                })

            # nclust = MINCLUST
            nclust = max(self.minclust, int(np.log(self.split_size)))
            # nclust = max(MINCLUST,int(split_size ** 0.5))
            # print("nclust", nclust, split_size, np.log(split_size))
            
            self.aggX['clust'] = sklearn.cluster.KMeans(n_clusters=nclust) \
                            .fit_predict(self.aggX[["rps"]],sample_weight=self.aggX["sessions"])

        return self

    def transform(self,X):
        globals()["X"] = X
        assert X.index.names[-1] == "utc_dt"
        split_idx = X.reset_index()[X.index.names[:-1]] .apply(tuple,axis=1).apply(str)
        if self.split_size <= self.minclust:
            return self.ord_enc.transform(split_idx.values.reshape(-1,1))
        else:
            X["clust"] = 1
            X["clust"] *= self.aggX["clust"]
            return X["clust"]
        
    def fit_transform(self,X,_):
        raise NotImplementedError
        
class TreeRPSClust:
    def __init__(self):
        pass
    
    def fit(self,X,_):

        globals()["X"] = X
        
        Xdf = X .reset_index()[X.index.names].copy()
        ydf = X["rps"]
        wdf = X["sessions"]

        ipydisp(Xdf.isna().sum())

        mincnt = 100
        for c in Xdf.columns:
            too_few_I = Xdf.groupby(c).transform("count").iloc[:,0] < mincnt
            Xdf.loc[too_few_I,c] = np.NaN

        ipydisp(Xdf.isna().sum())
        Xdf = Xdf.fillna("")
        Xdf = Xdf.iloc[:,:-1]

        self.enc_1hot = sklearn.preprocessing.OneHotEncoder(handle_unknown="ignore") .fit(Xdf)
        self.enc_features = [*self.enc_1hot.get_feature_names()]
        X = self.enc_1hot.transform(Xdf)
        print("|X|",X.shape)
        y = ydf.fillna(0)
        w = wdf

        self.clf = sklearn.tree.DecisionTreeRegressor(min_samples_leaf=30) \
                        .fit(X,y,sample_weight=wdf)
        print(sklearn.tree.export_text(self.clf,feature_names=self.enc_features))
        
        
        yhat = self.clf.predict(X)
        print("Tree RPS MAE:",(y - yhat).abs().mean())

        return self
        
    def transform(self,X):
        globals()["X"] = X
        Xdf = X .reset_index()[X.index.names]
        X = self.enc_1hot.transform(Xdf.fillna("").values[:,:-1])
        print("|X|",X.shape)
        return self.clf.apply(X)
        
# class AggRPSClustBad:
#     def __init__(self,minclust=8):
#         self.minclust = minclust
#         self.split_size = None
    
#     def fit(self,X,_):
#         globals()["X"] = X
#         assert X.index.names[-1] == "utc_dt"
#         split_idx = X.reset_index()[X.index.names[:-1]] .apply(tuple,axis=1).apply(str)
#         self.split_size = split_idx.drop_duplicates().__len__()
#         if self.split_size <= self.minclust:
#             self.ord_enc = sklearn.preprocessing.OrdinalEncoder(
#                     handle_unknown="use_encoded_value",unknown_value=-1) \
#                 .fit(split_idx.drop_duplicates().values.reshape(-1,1))
#             self.ord_enc.transform(split_idx.values.reshape(-1,1))
#         else:
#             # nclust = MINCLUST
#             nclust = max(self.minclust, int(np.log(self.split_size)))
#             # nclust = max(MINCLUST,int(split_size ** 0.5))
#             # print("nclust", nclust, split_size, np.log(split_size))
            
#             aggX = X \
#                 .groupby(X.index.names[:-1]) \
#                 .agg({
#                     "sessions": sum,
#                     "rps": get_wavg_by(X,"sessions")
#                 })
#             self.clusterer = sklearn.cluster.KMeans(n_clusters=self.minclust) \
#                 .fit(aggX[["rps"]],sample_weight=aggX["sessions"])

#         return self

#     def transform(self,X):
#         globals()["X"] = X
#         assert X.index.names[-1] == "utc_dt"
#         split_idx = X.reset_index()[X.index.names[:-1]] .apply(tuple,axis=1).apply(str)
#         if self.split_size <= self.minclust:
#             return self.ord_enc.transform(split_idx.values.reshape(-1,1))
#         else:
#             aggX = X \
#                 .groupby(X.index.names[:-1]) \
#                 .agg({
#                     "sessions": sum,
#                     "rps": get_wavg_by(X,"sessions")
#                 })
#             aggX["clust"] = self.clusterer \
#                 .predict(aggX[["rps"]],sample_weight=aggX["sessions"])
#             X["clust"] = 1
#             X["clust"] *= aggX["clust"]
#             return X["clust"]
        
#     def fit_transform(self,X,_):
#         raise NotImplementedError

# import sklearn.cluster
# def cluster_on(session_df,start_date,eval_date,end_date,col,CLUSTS=8,kpis=["rps","score","lps","rpl"],plot=True):
#     kpi_df = session_df.groupby([*col,"utc_dt"]) \
#         .agg({
#             "rps": get_wavg_by(session_df,"sessions"),
#             "score": get_wavg_by(session_df,"sessions"),
#             "lps": get_wavg_by(session_df,"sessions"),
#             "rpl": get_wavg_by(session_df,"sessions"),
#             "sessions": "sum",
#             "revenue": "sum"
#         })
#     print("|kpi_df|",kpi_df.shape)

#     col_uvals = kpi_df.reset_index()[col].drop_duplicates().values

#     date_range = pd.date_range(start_date,eval_date)
#     # kpi_tensor = np.stack(kpi_df.loc[tuple(uval),kpis] \
#     #                           .reindex(date_range).fillna(0) \
#     #                           .rolling(7).mean().fillna(0)
#     #                       for uval in col_uvals)
#     kpi_tensor = np.stack(kpi_df.loc[tuple(uval),kpis] \
#                               .reindex(date_range).fillna(0) \
#                               .rolling(7).mean().fillna(0)
#                           for uval in col_uvals)
#     kpi_tensor = kpi_tensor.transpose(2,0,1)
#     D, H, W = kpi_tensor.shape
    
#     if plot:
#         # i = (kpi_tensor > 0).sum(axis=1)[:,0].argmax()
#         # i = kpi_tensor.sum(axis=2)[0,:].argmax()
#         i = (kpi_tensor > 1e-3).sum(axis=2)[0].argmax()
#         plt.plot(kpi_tensor[0,i,:])
#         plt.show()

# #     import scipy.ndimage
# #     scipy.ndimage.gaussian_filter1d(X, sigma=sigma, axis=0)
# #     kpi_tensor = scipy.ndimage.gaussian_filter1d(kpi_tensor,sigma=7,axis=2)
    
# #     if plot:
# #         plt.plot(kpi_tensor[0,i,:])
# #         plt.show()
    
# #     mu = kpi_tensor.mean(axis=2).reshape(D, H, 1)
# #     std = kpi_tensor.std(axis=2).reshape(D, H, 1)
# #     kpi_tensor_norm = (kpi_tensor - mu) / std
# #     kpi_tensor_norm[np.isnan(kpi_tensor_norm)] = 0
# #     kpi_corr = (kpi_tensor_norm @ kpi_tensor_norm.transpose(0, 2, 1)) / W
# #     kpi_corr_df = pd.DataFrame(kpi_corr.mean(axis=0), columns=col_uvals, index=col_uvals)
# #     # assert np.abs(np.diag(loc_corr_df) - 1).max() < 1e-10

#     kpi_sqrt_tensor = kpi_tensor ** 0.5
#     kpi_corps = (kpi_sqrt_tensor @ kpi_sqrt_tensor.transpose(0, 2, 1))
#     kpi_coprs = np.log(kpi_corps)
#     kpi_corps = kpi_corps / kpi_corps.max(axis=2).max(axis=1).reshape(D,1,1)
#     corps_df = pd.DataFrame(kpi_corps.mean(axis=0), columns=col_uvals, index=col_uvals)

# #     clust = sklearn.cluster \
# #         .KMeans(n_clusters=CLUSTS) \
# #         .fit_predict(kpi_corr_df.values,sample_weight=kpi_df.groupby(col)["sessions"].sum().values)
    
#     clust = sklearn.cluster \
#         .KMeans(n_clusters=CLUSTS) \
#         .fit_predict(corps_df.values,sample_weight=kpi_df.groupby(col)["sessions"].sum())

# #     clust = sklearn.cluster \
# #         .AgglomerativeClustering(affinity="precomputed",n_clusters=CLUSTS,linkage='complete') \
# #         .fit_predict((1-kpi_corr_df.values) / 2)

# #     clust = sklearn.cluster \
# #         .AgglomerativeClustering(affinity="precomputed",n_clusters=CLUSTS,linkage='complete') \
# #         .fit_predict(-corps_df.values)
    
#     if plot:
#         for ci in range(CLUSTS):
#             clust_kpi_df = pd.concat(kpi_df.loc[tuple(uval)] for uval in col_uvals[clust==ci]) \
#                 .reset_index()
#             print(ci,"rps:",wavg(clust_kpi_df["rps"],clust_kpi_df["sessions"]))
#             ipydisp(clust_kpi_df[["sessions",'revenue']].sum())
#             clust_kpi_df \
#                 .groupby("utc_dt")["rps"] \
#                 .agg(get_wavg_by(clust_kpi_df,"sessions")) \
#                 .reindex(pd.date_range(eval_date-7*DAY,end_date)) \
#                 .fillna(0).rolling(7).mean() \
#                 .plot(label=ci,figsize=(15,5))
#         plt.legend()
#         plt.show()

#     clust_df = pd.DataFrame(clust,columns=["clust"])
#     clust_df[col] = col_uvals
#     clust_ser = pd.merge(session_df.reset_index()[col],clust_df,on=col,how="left")["clust"]
#     clust_ser.index = session_df.index
#     return clust_ser

from models.utils import wstd
def get_split_factor(rps_df):
    split_attr2unique_vals = {c: rps_df.index.unique(c) for c in rps_df.index.names[:-1]}
    _,new_index_order = zip(*sorted((V.__len__(),c) for c,V in split_attr2unique_vals.items()))
    return rps_df.reset_index()[[*new_index_order[:-1],"clust"]].drop_duplicates().__len__()

In [118]:
perfD = []
for split,rps_df in split2aggrps.items():
    
    rps_df["lps"] = rps_df["num_leads"] / rps_df["sessions"]
    rps_df["rpl"] = rps_df["revenue"] / rps_df["num_leads"]
    rps_df["score"] = rps_df[["score_null_avg","score_adv_avg","score_supp_avg"]].sum(axis=1)
    rps_df["rps"] = rps_df["rps_avg"]
    fitI = rps_df.reset_index()['utc_dt'] < eval_date
    fitI.index = rps_df.index

    for clust_mtd in [AggRPSClust,TreeRPSClust]:
        clusterer = clust_mtd().fit(rps_df[fitI],None)
        rps_df["clust"] = -1
        rps_df.loc[fitI,"clust"] = clusterer.transform(rps_df[fitI])
        rps_df.loc[~fitI,"clust"] = clusterer.transform(rps_df[~fitI])

        agg_rps_df = rps_df \
            [~fitI] \
            .groupby(rps_df.index.names[:-1]) \
            .agg({
                "sessions": sum,
                "rps": get_wavg_by(rps_df[~fitI],"sessions")
            })
        clust_rps_df = rps_df \
            [~fitI] \
            .groupby("clust") \
            .agg({
                "sessions": sum,
                "rps": get_wavg_by(rps_df[~fitI],"sessions")
            })

        assert clust_rps_df["rps"].max() <= agg_rps_df["rps"].max()
        rps_wavg = wavg(agg_rps_df[["rps"]], agg_rps_df["sessions"])
        rps_clust_wavg = wavg(clust_rps_df[["rps"]], clust_rps_df["sessions"])
        assert all((rps_wavg - rps_clust_wavg).abs() < 1e-2), (rps_wavg, rps_clust_wavg)


        perfd = {
            "clust_mtd": clusterer.__class__.__name__,
            "clusterer": clusterer,
            "split": split,
            "fit_shape": agg_rps_df.shape,
            "clust_shape": clust_rps_df.shape,
            "split_variance": wstd(agg_rps_df["rps"], agg_rps_df["sessions"]),
            "cluster_variance": wstd(clust_rps_df["rps"], clust_rps_df["sessions"]),
            # wstd(rps_df["rps_avg"],rps_df["sessions"])
            "clustered_split_factor": get_split_factor(rps_df),
        }
        perfD.append(perfd)
        pprint.pprint(perfd)
        ipydisp(clust_rps_df)

perfdf = pd.DataFrame(perfD)
ipydisp(perfdf)

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (2, 2),
 'cluster_variance': 0.008213534619983488,
 'clustered_split_factor': 2,
 'clusterer': <__main__.AggRPSClust object at 0x7f4463921130>,
 'fit_shape': (2, 2),
 'split': 'browser',
 'split_variance': 0.008213534619983488}

       sessions      rps
clust
0.0           7  0.00000
1.0       25000  0.49099

browser    0
utc_dt     0
dtype: int64

browser    64
utc_dt     64
dtype: int64

|X| (64, 1)
|--- value: [0.42]

Tree RPS MAE: 0.19436372098347118
|X| (64, 1)
|X| (30, 1)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (1, 2),
 'cluster_variance': 0.0,
 'clustered_split_factor': 1,
 'clusterer': <__main__.TreeRPSClust object at 0x7f446369fcd0>,
 'fit_shape': (2, 2),
 'split': 'browser',
 'split_variance': 0.008213534619983488}

       sessions       rps
clust
0         25007  0.490853

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (6, 2),
 'cluster_variance': 0.08133980743537546,
 'clustered_split_factor': 6,
 'clusterer': <__main__.AggRPSClust object at 0x7f4463f9a070>,
 'fit_shape': (6, 2),
 'split': 'operating_system',
 'split_variance': 0.08133980743537546}

       sessions       rps
clust
0.0          12  0.000000
1.0         882  0.227959
2.0        1194  0.392755
3.0       22476  0.514690
4.0         312  0.023558
5.0         130  0.224769

operating_system    0
utc_dt              0
dtype: int64

operating_system    224
utc_dt              224
dtype: int64

|X| (224, 1)
|--- value: [0.42]

Tree RPS MAE: 0.37670374963347186
|X| (224, 1)
|X| (116, 1)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (1, 2),
 'cluster_variance': 0.0,
 'clustered_split_factor': 1,
 'clusterer': <__main__.TreeRPSClust object at 0x7f4460b42e80>,
 'fit_shape': (6, 2),
 'split': 'operating_system',
 'split_variance': 0.08133980743537546}

       sessions       rps
clust
0         25006  0.490872

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (3, 2),
 'cluster_variance': 0.08778434823763963,
 'clustered_split_factor': 3,
 'clusterer': <__main__.AggRPSClust object at 0x7f4460b42400>,
 'fit_shape': (3, 2),
 'split': 'device',
 'split_variance': 0.08778434823763963}

       sessions       rps
clust
0.0       23889  0.509818
1.0         729  0.069849
2.0         389  0.115167

device    0
utc_dt    0
dtype: int64

device    141
utc_dt    141
dtype: int64

|X| (141, 1)
|--- value: [0.42]

Tree RPS MAE: 0.32830081223274843
|X| (141, 1)
|X| (59, 1)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (1, 2),
 'cluster_variance': 0.0,
 'clustered_split_factor': 1,
 'clusterer': <__main__.TreeRPSClust object at 0x7f4463552f10>,
 'fit_shape': (3, 2),
 'split': 'device',
 'split_variance': 0.08778434823763963}

       sessions       rps
clust
0         25007  0.490853

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (2, 2),
 'cluster_variance': 0.0031040518203131573,
 'clustered_split_factor': 2,
 'clusterer': <__main__.AggRPSClust object at 0x7f44637279a0>,
 'fit_shape': (2, 2),
 'split': 'product',
 'split_variance': 0.0031040518203131573}

       sessions       rps
clust
0.0           1  0.000000
1.0       25006  0.490872

product    0
utc_dt     0
dtype: int64

product    62
utc_dt     62
dtype: int64

|X| (62, 1)
|--- value: [0.42]

Tree RPS MAE: 0.18720387509905476
|X| (62, 1)
|X| (28, 1)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (1, 2),
 'cluster_variance': 0.0,
 'clustered_split_factor': 1,
 'clusterer': <__main__.TreeRPSClust object at 0x7f446094f790>,
 'fit_shape': (2, 2),
 'split': 'product',
 'split_variance': 0.0031040518203131573}

       sessions       rps
clust
0         25007  0.490853

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (7, 2),
 'cluster_variance': 0.051614878993161396,
 'clustered_split_factor': 44,
 'clusterer': <__main__.AggRPSClust object at 0x7f44638a8f70>,
 'fit_shape': (522, 2),
 'split': 'TOD',
 'split_variance': 0.37152308695422803}

       sessions       rps
clust
0.0        6364  0.565881
2.0        1021  0.384622
3.0           6  0.000000
4.0        3875  0.456078
5.0        5441  0.477307
6.0         342  0.311374
7.0        7954  0.479000

dayofweek    0
hourofday    0
utc_dt       0
dtype: int64

dayofweek       0
hourofday    3393
utc_dt       2541
dtype: int64

|X| (3393, 8)
|--- x0_5.0 <= 0.50
|   |--- x0_4.0 <= 0.50
|   |   |--- x0_0.0 <= 0.50
|   |   |   |--- x0_6.0 <= 0.50
|   |   |   |   |--- x0_3.0 <= 0.50
|   |   |   |   |   |--- x0_1.0 <= 0.50
|   |   |   |   |   |   |--- value: [0.39]
|   |   |   |   |   |--- x0_1.0 >  0.50
|   |   |   |   |   |   |--- value: [0.39]
|   |   |   |   |--- x0_3.0 >  0.50
|   |   |   |   |   |--- value: [0.41]
|   |   |   |--- x0_6.0 >  0.50
|   |   |   |   |--- value: [0.26]
|   |   |--- x0_0.0 >  0.50
|   |   |   |--- value: [0.21]
|   |--- x0_4.0 >  0.50
|   |   |--- value: [0.47]
|--- x0_5.0 >  0.50
|   |--- value: [0.49]

Tree RPS MAE: 0.5429026271744685
|X| (3393, 8)
|X| (1332, 8)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (7, 2),
 'cluster_variance': 0.07631755769998899,
 'clustered_split_factor': 7,
 'clusterer': <__main__.TreeRPSClust object at 0x7f4463a9ee80>,
 'fit_shape': (522, 2),
 'split': 'TOD',
 'split_variance': 0.37152308695422803}

       sessions       rps
clust
6          5102  0.451919
7          4199  0.629292
8          6913  0.489132
9           414  0.197971
10          419  0.294272
11         3801  0.487264
12         4159  0.453942

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.08908513229039453,
 'clustered_split_factor': 8,
 'clusterer': <__main__.AggRPSClust object at 0x7f44638bb310>,
 'fit_shape': (209, 2),
 'split': 'dma',
 'split_variance': 0.3404716831145183}

       sessions       rps
clust
0          4462  0.470769
1          3301  0.568592
2           190  0.271000
3          6406  0.569799
4            12  0.000000
5          2352  0.455081
6          7432  0.390980
7           852  0.727140

dma       0
utc_dt    0
dtype: int64

dma       7598
utc_dt    7598
dtype: int64

|X| (7598, 1)
|--- value: [0.42]

Tree RPS MAE: 0.6898165600736871
|X| (7598, 1)
|X| (3287, 1)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (1, 2),
 'cluster_variance': 0.0,
 'clustered_split_factor': 1,
 'clusterer': <__main__.TreeRPSClust object at 0x7f4463a9e3d0>,
 'fit_shape': (209, 2),
 'split': 'dma',
 'split_variance': 0.3404716831145183}

       sessions       rps
clust
0         25007  0.490853

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.12770910245484265,
 'clustered_split_factor': 8,
 'clusterer': <__main__.AggRPSClust object at 0x7f44638a8b50>,
 'fit_shape': (51, 2),
 'split': 'state',
 'split_variance': 0.20577756327607138}

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

       sessions       rps
clust
0          4484  0.682375
1          3671  0.344837
2           102  1.044706
3          6018  0.474003
4          3898  0.330738
5           116  0.190259
6          2971  0.551334
7          3747  0.544616

state     0
utc_dt    0
dtype: int64

state     2433
utc_dt    2433
dtype: int64

|X| (2433, 1)
|--- value: [0.42]

Tree RPS MAE: 0.5467053273718135
|X| (2433, 1)
|X| (1069, 1)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (1, 2),
 'cluster_variance': 0.0,
 'clustered_split_factor': 1,
 'clusterer': <__main__.TreeRPSClust object at 0x7f444a60b0a0>,
 'fit_shape': (51, 2),
 'split': 'state',
 'split_variance': 0.20577756327607138}

       sessions       rps
clust
0         25007  0.490853

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.06691805909858049,
 'clustered_split_factor': 152,
 'clusterer': <__main__.AggRPSClust object at 0x7f44637021c0>,
 'fit_shape': (339, 2),
 'split': 'location',
 'split_variance': 0.47168212271261845}

       sessions       rps
clust
0.0        6742  0.456706
1.0         259  0.457838
2.0        3040  0.439849
3.0          35  0.164000
4.0        7593  0.464068
5.0        6372  0.547328
6.0           6  0.000000
7.0         954  0.751775

state     0
dma       0
utc_dt    0
dtype: int64

state     1090
dma       8961
utc_dt     266
dtype: int64

|X| (9575, 42)
|--- x0_TX <= 0.50
|   |--- x0_WY <= 0.50
|   |   |--- x0_VA <= 0.50
|   |   |   |--- x0_IL <= 0.50
|   |   |   |   |--- x1_511 <= 0.50
|   |   |   |   |   |--- x0_MO <= 0.50
|   |   |   |   |   |   |--- x0_MS <= 0.50
|   |   |   |   |   |   |   |--- x0_MN <= 0.50
|   |   |   |   |   |   |   |   |--- x0_NY <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_WI <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_OH <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 28
|   |   |   |   |   |   |   |   |   |   |--- x0_OH >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- x0_WI >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.53]
|   |   |   |   |   |   |   |   |--- x0_NY >  0.50
|   |   |   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.20]
|   |   |   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.20]
|   |   |   |   |   |   |   |--- x0_MN >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.10]
|   |   |   |   |   |   |--- x0_MS >  0.50
|   |   |   |   |   |   |   |--- value: [0.75]
|   |   |   |   |   |--- x0_MO >  0.50
|   |   |   |   |   |   |--- value: [0.59]
|   |   |   |   |--- x1_511 >  0.50
|   |   |   |   |   |--- x0_MD <= 0.50
|   |   |   |   |   |   |--- x0_WV <= 0.50
|   |   |   |   |   |   |   |--- value: [0.28]
|   |   |   |   |   |   |--- x0_WV >  0.50
|   |   |   |   |   |   |   |--- value: [0.88]
|   |   |   |   |   |--- x0_MD >  0.50
|   |   |   |   |   |   |--- value: [0.80]
|   |   |   |--- x0_IL >  0.50
|   |   |   |   |--- value: [0.59]
|   |   |--- x0_VA >  0.50
|   |   |   |--- x1_ <= 0.50
|   |   |   |   |--- value: [0.17]
|   |   |   |--- x1_ >  0.50
|   |   |   |   |--- value: [0.94]
|   |--- x0_WY >  0.50
|   |   |--- value: [1.22]
|--- x0_TX >  0.50
|   |--- value: [0.66]

Tree RPS MAE: 0.7037583029240282
|X| (9575, 42)
|X| (4156, 42)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (31, 2),
 'cluster_variance': 0.17305344482922724,
 'clustered_split_factor': 56,
 'clusterer': <__main__.TreeRPSClust object at 0x7f446365c4f0>,
 'fit_shape': (339, 2),
 'split': 'location',
 'split_variance': 0.47168212271261845}

       sessions       rps
clust
28         7184  0.392606
29           77  0.425065
54          639  0.452911
55          282  0.296560
57          521  0.535336
59          251  0.155976
60          621  0.510419
61          332  0.556837
62          291  0.400893
63         1181  0.515115
64          454  0.569251
65          482  0.314946
66          258  1.305778
67          176  0.824261
68         1230  0.616628
69          755  0.492715
70          381  0.364777
72         1060  0.427264
75         1703  0.449319
77          784  0.437691
79          568  0.226892
81          153  0.345621
82          251  1.113546
83          748  0.446591
86           88  0.194829
87           32  0.000000
88          290  0.458207
89          624  0.544667
91         1054  0.897903
93          102  1.044706
94         2435  0.592427

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.052336375100269346,
 'clustered_split_factor': 30,
 'clusterer': <__main__.AggRPSClust object at 0x7f4460b34d30>,
 'fit_shape': (689, 2),
 'split': 'dma_os',
 'split_variance': 0.5537190985958785}

       sessions       rps
clust
0.0        6822  0.414777
1.0           3  0.000000
2.0           1  0.000000
3.0        3469  0.545527
4.0          18  0.000000
5.0           2  0.000000
6.0       13988  0.520667
7.0         516  0.511202

dma                 0
operating_system    0
utc_dt              0
dtype: int64

dma                 9406
operating_system    1220
utc_dt              9873
dtype: int64

|X| (9873, 8)
|--- x1_Windows <= 0.50
|   |--- x0_602 <= 0.50
|   |   |--- x1_Linux <= 0.50
|   |   |   |--- x0_ <= 0.50
|   |   |   |   |--- x0_504 <= 0.50
|   |   |   |   |   |--- x0_501 <= 0.50
|   |   |   |   |   |   |--- value: [0.09]
|   |   |   |   |   |--- x0_501 >  0.50
|   |   |   |   |   |   |--- value: [0.12]
|   |   |   |   |--- x0_504 >  0.50
|   |   |   |   |   |--- value: [0.32]
|   |   |   |--- x0_ >  0.50
|   |   |   |   |--- value: [0.28]
|   |   |--- x1_Linux >  0.50
|   |   |   |--- x0_ <= 0.50
|   |   |   |   |--- x0_511 <= 0.50
|   |   |   |   |   |--- value: [0.06]
|   |   |   |   |--- x0_511 >  0.50
|   |   |   |   |   |--- value: [0.00]
|   |   |   |--- x0_ >  0.50
|   |   |   |   |--- value: [0.17]
|   |--- x0_602 >  0.50
|   |   |--- value: [0.56]
|--- x1_Windows >  0.50
|   |--- x0_501 <= 0.50
|   |   |--- x0_602 <= 0.50
|   |   |   |--- x0_511 <= 0.50
|   |   |   |   |--- x0_504 <= 0.50
|   |   |   |   |   |--- value: [0.44]
|   |   |   |   |--- x0_504 >  0.50
|   |   |   |   |   |--- value: [0.37]
|   |   |   |--- x0_511 >  0.50
|   |   |   |   |--- value: [0.52]
|   |   |--- x0_602 >  0.50
|   |   |   |--- value: [0.57]
|   |--- x0_501 >  0.50
|   |   |--- value: [0.28]

Tree RPS MAE: 0.6555277469363043
|X| (9873, 8)
|X| (4738, 8)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (11, 2),
 'cluster_variance': 0.08007460245502845,
 'clustered_split_factor': 22,
 'clusterer': <__main__.TreeRPSClust object at 0x7f4463affcd0>,
 'fit_shape': (689, 2),
 'split': 'dma_os',
 'split_variance': 0.5537190985958785}

       sessions       rps
clust
6          1436  0.327013
7           105  0.224286
8            76  0.162895
12          797  0.252271
13           58  0.000000
15           58  0.000000
20        19744  0.510335
21          642  0.602561
22          732  0.622876
23          432  0.561069
24          926  0.439465

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.09301449015072355,
 'clustered_split_factor': 19,
 'clusterer': <__main__.AggRPSClust object at 0x7f4463aff5b0>,
 'fit_shape': (451, 2),
 'split': 'dma_device',
 'split_variance': 0.42417960549117856}

       sessions       rps
clust
0.0        7641  0.405480
1.0           2  0.000000
2.0           2  0.000000
3.0         411  0.628151
4.0        5101  0.410332
5.0          58  0.096724
6.0        2809  0.528096
7.0        8899  0.599638

dma       0
device    0
utc_dt    0
dtype: int64

dma       8570
device    8570
utc_dt    8570
dtype: int64

|X| (8570, 2)
|--- value: [0.42]

Tree RPS MAE: 0.6867466196687136
|X| (8570, 2)
|X| (3850, 2)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (1, 2),
 'cluster_variance': 0.0,
 'clustered_split_factor': 3,
 'clusterer': <__main__.TreeRPSClust object at 0x7f44636b95b0>,
 'fit_shape': (451, 2),
 'split': 'dma_device',
 'split_variance': 0.42417960549117856}

       sessions       rps
clust
0         25007  0.490853

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (7, 2),
 'cluster_variance': 0.0587928492350398,
 'clustered_split_factor': 53,
 'clusterer': <__main__.AggRPSClust object at 0x7f444a761e80>,
 'fit_shape': (905, 2),
 'split': 'dma_os_device',
 'split_variance': 0.6211522346795763}

       sessions       rps
clust
0.0       13141  0.506180
1.0           3  0.000000
2.0         518  0.509228
3.0           1  0.000000
4.0          23  0.000000
5.0        6656  0.420420
7.0        4282  0.591489

dma                 0
operating_system    0
device              0
utc_dt              0
dtype: int64

dma                  9285
operating_system      198
device                200
utc_dt              10011
dtype: int64

|X| (10011, 14)
|--- x1_Windows <= 0.50
|   |--- x0_602 <= 0.50
|   |   |--- x1_Mac OS X <= 0.50
|   |   |   |--- x2_PHON <= 0.50
|   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |--- x0_501 <= 0.50
|   |   |   |   |   |   |   |--- value: [0.05]
|   |   |   |   |   |   |--- x0_501 >  0.50
|   |   |   |   |   |   |   |--- value: [0.04]
|   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |--- x2_ <= 0.50
|   |   |   |   |   |   |   |--- value: [0.08]
|   |   |   |   |   |   |--- x2_ >  0.50
|   |   |   |   |   |   |   |--- value: [0.04]
|   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |--- value: [0.00]
|   |   |   |--- x2_PHON >  0.50
|   |   |   |   |--- x0_501 <= 0.50
|   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |--- value: [0.18]
|   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |--- value: [0.21]
|   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |--- value: [0.05]
|   |   |   |   |--- x0_501 >  0.50
|   |   |   |   |   |--- value: [0.07]
|   |   |--- x1_Mac OS X >  0.50
|   |   |   |--- x0_511 <= 0.50
|   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |--- value: [0.25]
|   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |--- value: [0.30]
|   |   |   |--- x0_511 >  0.50
|   |   |   |   |--- value: [0.00]
|   |--- x0_602 >  0.50
|   |   |--- x2_DESK <= 0.50
|   |   |   |--- value: [0.75]
|   |   |--- x2_DESK >  0.50
|   |   |   |--- value: [0.32]
|--- x1_Windows >  0.50
|   |--- x0_618 <= 0.50
|   |   |--- x0_501 <= 0.50
|   |   |   |--- x0_602 <= 0.50
|   |   |   |   |--- x0_511 <= 0.50
|   |   |   |   |   |--- x0_524 <= 0.50
|   |   |   |   |   |   |--- x0_504 <= 0.50
|   |   |   |   |   |   |   |--- value: [0.43]
|   |   |   |   |   |   |--- x0_504 >  0.50
|   |   |   |   |   |   |   |--- value: [0.37]
|   |   |   |   |   |--- x0_524 >  0.50
|   |   |   |   |   |   |--- value: [0.51]
|   |   |   |   |--- x0_511 >  0.50
|   |   |   |   |   |--- value: [0.52]
|   |   |   |--- x0_602 >  0.50
|   |   |   |   |--- value: [0.57]
|   |   |--- x0_501 >  0.50
|   |   |   |--- value: [0.28]
|   |--- x0_618 >  0.50
|   |   |--- value: [0.96]

Tree RPS MAE: 0.6389777786671915
|X| (10011, 14)
|X| (4888, 14)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (15, 2),
 'cluster_variance': 0.14017583497376315,
 'clustered_split_factor': 45,
 'clusterer': <__main__.TreeRPSClust object at 0x7f444a761460>,
 'fit_shape': (905, 2),
 'split': 'dma_os_device',
 'split_variance': 0.6211522346795763}

       sessions       rps
clust
7           566  0.329876
8            34  0.000000
15          656  0.077622
19           42  0.000000
22         1138  0.325554
24           36  2.735278
26           41  0.000000
27           17  0.000000
34        18512  0.494636
35          642  0.602561
36          723  0.835605
37          732  0.622876
38          432  0.561069
39          926  0.439465
40          509  0.619273

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.12653332941862747,
 'clustered_split_factor': 28,
 'clusterer': <__main__.AggRPSClust object at 0x7f444a761d30>,
 'fit_shape': (234, 2),
 'split': 'state_os',
 'split_variance': 0.35878838655142775}

       sessions       rps
clust
0.0        1622  0.331097
1.0        4880  0.654834
2.0          92  0.000000
3.0        4449  0.438437
4.0           1  0.000000
5.0         269  0.478178
6.0        9098  0.556707
7.0        4530  0.307312

state               0
operating_system    0
utc_dt              0
dtype: int64

state               2784
operating_system     185
utc_dt              4001
dtype: int64

|X| (4001, 16)
|--- x0_TX <= 0.50
|   |--- x1_Windows <= 0.50
|   |   |--- x0_IL <= 0.50
|   |   |   |--- x1_Mac OS X <= 0.50
|   |   |   |   |--- x0_VA <= 0.50
|   |   |   |   |   |--- x0_PA <= 0.50
|   |   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |   |--- x0_GA <= 0.50
|   |   |   |   |   |   |   |   |--- x0_NC <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_MI <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.07]
|   |   |   |   |   |   |   |   |   |--- x0_MI >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.06]
|   |   |   |   |   |   |   |   |--- x0_NC >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.10]
|   |   |   |   |   |   |   |--- x0_GA >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.22]
|   |   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |--- value: [0.14]
|   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.06]
|   |   |   |   |   |--- x0_PA >  0.50
|   |   |   |   |   |   |--- value: [0.24]
|   |   |   |   |--- x0_VA >  0.50
|   |   |   |   |   |--- value: [0.39]
|   |   |   |--- x1_Mac OS X >  0.50
|   |   |   |   |--- x0_VA <= 0.50
|   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |--- value: [0.21]
|   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |--- value: [0.29]
|   |   |   |   |--- x0_VA >  0.50
|   |   |   |   |   |--- value: [0.00]
|   |   |--- x0_IL >  0.50
|   |   |   |--- value: [0.76]
|   |--- x1_Windows >  0.50
|   |   |--- x0_VA <= 0.50
|   |   |   |--- x0_NJ <= 0.50
|   |   |   |   |--- x0_MI <= 0.50
|   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |--- x0_NY <= 0.50
|   |   |   |   |   |   |   |--- x0_NC <= 0.50
|   |   |   |   |   |   |   |   |--- x0_GA <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_IL <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_TN <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- x0_TN >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.54]
|   |   |   |   |   |   |   |   |   |--- x0_IL >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.56]
|   |   |   |   |   |   |   |   |--- x0_GA >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.46]
|   |   |   |   |   |   |   |--- x0_NC >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.43]
|   |   |   |   |   |   |--- x0_NY >  0.50
|   |   |   |   |   |   |   |--- value: [0.24]
|   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |--- value: [0.39]
|   |   |   |   |--- x0_MI >  0.50
|   |   |   |   |   |--- value: [0.25]
|   |   |   |--- x0_NJ >  0.50
|   |   |   |   |--- value: [0.22]
|   |   |--- x0_VA >  0.50
|   |   |   |--- value: [0.68]
|--- x0_TX >  0.50
|   |--- x1_Linux <= 0.50
|   |   |--- x1_Windows <= 0.50
|   |   |   |--- value: [0.55]
|   |   |--- x1_Windows >  0.50
|   |   |   |--- value: [0.70]
|   |--- x1_Linux >  0.50
|   |   |--- value: [0.03]

Tree RPS MAE: 0.47703326640307336
|X| (4001, 16)
|X| (2060, 16)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (24, 2),
 'cluster_variance': 0.18151800602715124,
 'clustered_split_factor': 49,
 'clusterer': <__main__.TreeRPSClust object at 0x7f44638f0490>,
 'fit_shape': (234, 2),
 'split': 'state_os',
 'split_variance': 0.35878838655142775}

       sessions       rps
clust
13          659  0.269272
14           37  0.000000
15           78  0.233333
17           67  0.000000
18          106  0.316981
19           60  0.139667
23           85  0.000000
24           62  0.000000
27         1000  0.212820
29           51  2.936667
30           76  0.000000
41        12276  0.488929
42         1521  0.483452
43          691  0.530868
44          548  0.620204
45         1110  0.666723
46         1026  0.560186
47          509  0.239381
49          882  0.232222
50          786  0.444975
51          941  0.846567
54          172  0.618372
55         2186  0.611253
56           77  0.000000

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.13995505095134975,
 'clustered_split_factor': 18,
 'clusterer': <__main__.AggRPSClust object at 0x7f4463a4a100>,
 'fit_shape': (142, 2),
 'split': 'state_device',
 'split_variance': 0.24554116247191507}

       sessions       rps
clust
0.0        3832  0.339665
1.0        5538  0.662170
2.0         254  0.506417
3.0          18  0.000000
4.0        3703  0.553929
5.0         857  0.090432
6.0        3630  0.348732
7.0        7169  0.527665

state     0
device    0
utc_dt    0
dtype: int64

state     3111
device    3111
utc_dt    3111
dtype: int64

|X| (3111, 2)
|--- value: [0.42]

Tree RPS MAE: 0.5451926563512922
|X| (3111, 2)
|X| (1408, 2)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (1, 2),
 'cluster_variance': 0.0,
 'clustered_split_factor': 3,
 'clusterer': <__main__.TreeRPSClust object at 0x7f444a761bb0>,
 'fit_shape': (142, 2),
 'split': 'state_device',
 'split_variance': 0.24554116247191507}

       sessions       rps
clust
0         25007  0.490853

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.13103286266515718,
 'clustered_split_factor': 51,
 'clusterer': <__main__.AggRPSClust object at 0x7f444a761910>,
 'fit_shape': (368, 2),
 'split': 'state_os_device',
 'split_variance': 0.39542557497877173}

       sessions       rps
clust
0.0        1632  0.299289
1.0        4865  0.656853
2.0          14  0.000000
3.0        5343  0.515626
4.0         330  0.389788
5.0        7575  0.553113
6.0        5061  0.295678
7.0           1  0.000000

state               0
operating_system    0
device              0
utc_dt              0
dtype: int64

state               2852
operating_system     187
device               173
utc_dt              4176
dtype: int64

|X| (4176, 19)
|--- x0_TX <= 0.50
|   |--- x1_Windows <= 0.50
|   |   |--- x0_IL <= 0.50
|   |   |   |--- x1_Mac OS X <= 0.50
|   |   |   |   |--- x0_VA <= 0.50
|   |   |   |   |   |--- x2_PHON <= 0.50
|   |   |   |   |   |   |--- x0_OH <= 0.50
|   |   |   |   |   |   |   |--- x1_Linux <= 0.50
|   |   |   |   |   |   |   |   |--- value: [0.00]
|   |   |   |   |   |   |   |--- x1_Linux >  0.50
|   |   |   |   |   |   |   |   |--- x0_NY <= 0.50
|   |   |   |   |   |   |   |   |   |--- x2_ <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.10]
|   |   |   |   |   |   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.11]
|   |   |   |   |   |   |   |   |   |--- x2_ >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.07]
|   |   |   |   |   |   |   |   |--- x0_NY >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.04]
|   |   |   |   |   |   |--- x0_OH >  0.50
|   |   |   |   |   |   |   |--- value: [0.00]
|   |   |   |   |   |--- x2_PHON >  0.50
|   |   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |--- value: [0.12]
|   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.26]
|   |   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |--- value: [0.16]
|   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.09]
|   |   |   |   |--- x0_VA >  0.50
|   |   |   |   |   |--- value: [0.39]
|   |   |   |--- x1_Mac OS X >  0.50
|   |   |   |   |--- x0_VA <= 0.50
|   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |--- value: [0.21]
|   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |--- value: [0.29]
|   |   |   |   |--- x0_VA >  0.50
|   |   |   |   |   |--- value: [0.00]
|   |   |--- x0_IL >  0.50
|   |   |   |--- x2_DESK <= 0.50
|   |   |   |   |--- value: [1.14]
|   |   |   |--- x2_DESK >  0.50
|   |   |   |   |--- value: [0.27]
|   |--- x1_Windows >  0.50
|   |   |--- x0_VA <= 0.50
|   |   |   |--- x0_NJ <= 0.50
|   |   |   |   |--- x0_MI <= 0.50
|   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |--- x0_NY <= 0.50
|   |   |   |   |   |   |   |--- x0_NC <= 0.50
|   |   |   |   |   |   |   |   |--- x0_GA <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_IL <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_TN <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- x0_TN >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.54]
|   |   |   |   |   |   |   |   |   |--- x0_IL >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.56]
|   |   |   |   |   |   |   |   |--- x0_GA >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.46]
|   |   |   |   |   |   |   |--- x0_NC >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.43]
|   |   |   |   |   |   |--- x0_NY >  0.50
|   |   |   |   |   |   |   |--- value: [0.24]
|   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |--- value: [0.39]
|   |   |   |   |--- x0_MI >  0.50
|   |   |   |   |   |--- value: [0.25]
|   |   |   |--- x0_NJ >  0.50
|   |   |   |   |--- value: [0.22]
|   |   |--- x0_VA >  0.50
|   |   |   |--- value: [0.68]
|--- x0_TX >  0.50
|   |--- x1_Linux <= 0.50
|   |   |--- x1_Windows <= 0.50
|   |   |   |--- value: [0.55]
|   |   |--- x1_Windows >  0.50
|   |   |   |--- value: [0.70]
|   |--- x1_Linux >  0.50
|   |   |--- value: [0.03]

Tree RPS MAE: 0.46579448132018736
|X| (4176, 19)
|X| (2227, 19)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (23, 2),
 'cluster_variance': 0.18386889867421882,
 'clustered_split_factor': 69,
 'clusterer': <__main__.TreeRPSClust object at 0x7f4463acff40>,
 'fit_shape': (368, 2),
 'split': 'state_os_device',
 'split_variance': 0.39542557497877173}

       sessions       rps
clust
8           140  0.154071
12          316  0.465000
15           21  0.000000
16           36  0.505556
19          579  0.087945
24           62  0.000000
27         1000  0.212820
29           51  2.936667
31           51  0.000000
32           25  0.000000
43        12276  0.488929
44         1521  0.483452
45          691  0.530868
46          548  0.620204
47         1110  0.666723
48         1026  0.560186
49          509  0.239381
51          882  0.232222
52          786  0.444975
53          941  0.846567
56          172  0.618372
57         2186  0.611253
58           77  0.000000

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.06003338377684017,
 'clustered_split_factor': 438,
 'clusterer': <__main__.AggRPSClust object at 0x7f4463a4ae80>,
 'fit_shape': (897, 2),
 'split': 'location_os',
 'split_variance': 0.6532661495866262}

       sessions       rps
clust
0.0        9957  0.428855
1.0           4  0.000000
2.0         571  0.529492
3.0           1  0.000000
4.0        3661  0.517603
5.0           2  0.000000
6.0       10511  0.550855
7.0          56  0.102500

state               0
dma                 0
operating_system    0
utc_dt              0
dtype: int64

state                676
dma                 9399
operating_system      56
utc_dt               276
dtype: int64

|X| (11955, 67)
|--- x0_TX <= 0.50
|   |--- x2_Windows <= 0.50
|   |   |--- x0_IL <= 0.50
|   |   |   |--- x0_WI <= 0.50
|   |   |   |   |--- x2_Mac OS X <= 0.50
|   |   |   |   |   |--- x0_VA <= 0.50
|   |   |   |   |   |   |--- x0_PA <= 0.50
|   |   |   |   |   |   |   |--- x0_GA <= 0.50
|   |   |   |   |   |   |   |   |--- x0_CA <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_NC <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x2_iOS <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 7
|   |   |   |   |   |   |   |   |   |   |--- x2_iOS >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- x0_NC >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.10]
|   |   |   |   |   |   |   |   |--- x0_CA >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.23]
|   |   |   |   |   |   |   |--- x0_GA >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.22]
|   |   |   |   |   |   |--- x0_PA >  0.50
|   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |--- value: [0.31]
|   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.05]
|   |   |   |   |   |--- x0_VA >  0.50
|   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |--- value: [0.13]
|   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |--- value: [0.74]
|   |   |   |   |--- x2_Mac OS X >  0.50
|   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |--- x1_511 <= 0.50
|   |   |   |   |   |   |   |--- x1_501 <= 0.50
|   |   |   |   |   |   |   |   |--- x0_PA <= 0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.21]
|   |   |   |   |   |   |   |   |--- x0_PA >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.12]
|   |   |   |   |   |   |   |--- x1_501 >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.11]
|   |   |   |   |   |   |--- x1_511 >  0.50
|   |   |   |   |   |   |   |--- value: [0.00]
|   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |--- x0_NC <= 0.50
|   |   |   |   |   |   |   |--- x0_FL <= 0.50
|   |   |   |   |   |   |   |   |--- x0_OH <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_MI <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.22]
|   |   |   |   |   |   |   |   |   |--- x0_MI >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.44]
|   |   |   |   |   |   |   |   |--- x0_OH >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.44]
|   |   |   |   |   |   |   |--- x0_FL >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.44]
|   |   |   |   |   |   |--- x0_NC >  0.50
|   |   |   |   |   |   |   |--- value: [0.00]
|   |   |   |--- x0_WI >  0.50
|   |   |   |   |--- x2_Linux <= 0.50
|   |   |   |   |   |--- value: [0.12]
|   |   |   |   |--- x2_Linux >  0.50
|   |   |   |   |   |--- value: [1.72]
|   |   |--- x0_IL >  0.50
|   |   |   |--- x2_Linux <= 0.50
|   |   |   |   |--- value: [0.31]
|   |   |   |--- x2_Linux >  0.50
|   |   |   |   |--- value: [1.05]
|   |--- x2_Windows >  0.50
|   |   |--- x0_WY <= 0.50
|   |   |   |--- x0_VA <= 0.50
|   |   |   |   |--- x1_511 <= 0.50
|   |   |   |   |   |--- x1_508 <= 0.50
|   |   |   |   |   |   |--- x0_ND <= 0.50
|   |   |   |   |   |   |   |--- x0_MS <= 0.50
|   |   |   |   |   |   |   |   |--- x0_MO <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_IL <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_OH <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 39
|   |   |   |   |   |   |   |   |   |   |--- x0_OH >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- x0_IL >  0.50
|   |   |   |   |   |   |   |   |   |   |--- x1_602 <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- x1_602 >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.62]
|   |   |   |   |   |   |   |   |--- x0_MO >  0.50
|   |   |   |   |   |   |   |   |   |--- x1_632 <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x1_616 <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- x1_616 >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.90]
|   |   |   |   |   |   |   |   |   |--- x1_632 >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [1.30]
|   |   |   |   |   |   |   |--- x0_MS >  0.50
|   |   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.78]
|   |   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.83]
|   |   |   |   |   |   |--- x0_ND >  0.50
|   |   |   |   |   |   |   |--- value: [0.99]
|   |   |   |   |   |--- x1_508 >  0.50
|   |   |   |   |   |   |--- value: [0.83]
|   |   |   |   |--- x1_511 >  0.50
|   |   |   |   |   |--- x0_MD <= 0.50
|   |   |   |   |   |   |--- x0_WV <= 0.50
|   |   |   |   |   |   |   |--- value: [0.33]
|   |   |   |   |   |   |--- x0_WV >  0.50
|   |   |   |   |   |   |   |--- value: [0.91]
|   |   |   |   |   |--- x0_MD >  0.50
|   |   |   |   |   |   |--- value: [0.91]
|   |   |   |--- x0_VA >  0.50
|   |   |   |   |--- x1_511 <= 0.50
|   |   |   |   |   |--- x1_531 <= 0.50
|   |   |   |   |   |   |--- value: [0.92]
|   |   |   |   |   |--- x1_531 >  0.50
|   |   |   |   |   |   |--- value: [1.99]
|   |   |   |   |--- x1_511 >  0.50
|   |   |   |   |   |--- value: [0.20]
|   |   |--- x0_WY >  0.50
|   |   |   |--- value: [1.24]
|--- x0_TX >  0.50
|   |--- x2_Linux <= 0.50
|   |   |--- x2_Windows <= 0.50
|   |   |   |--- value: [0.55]
|   |   |--- x2_Windows >  0.50
|   |   |   |--- value: [0.70]
|   |--- x2_Linux >  0.50
|   |   |--- value: [0.03]

Tree RPS MAE: 0.6635688224111004
|X| (11955, 67)
|X| (5665, 67)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (84, 2),
 'cluster_variance': 0.25035071806514964,
 'clustered_split_factor': 289,
 'clusterer': <__main__.TreeRPSClust object at 0x7f4463a4a760>,
 'fit_shape': (897, 2),
 'split': 'location_os',
 'split_variance': 0.6532661495866262}

       sessions       rps
clust
15          490  0.373735
16           29  0.000000
17           29  0.178276
18           55  0.000000
31          170  0.000000
...         ...       ...
220         380  0.805053
221          96  1.110000
224         172  0.618372
225        2186  0.611253
226          77  0.000000

[84 rows x 2 columns]

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.05874823405306695,
 'clustered_split_factor': 304,
 'clusterer': <__main__.AggRPSClust object at 0x7f444a761970>,
 'fit_shape': (623, 2),
 'split': 'location_device',
 'split_variance': 0.5364346441505898}

       sessions       rps
clust
0.0        8126  0.433053
1.0           2  0.000000
2.0        2845  0.594965
3.0           2  0.000000
4.0          46  0.124783
5.0         258  0.459612
6.0        7057  0.475769
7.0        6558  0.544728

state     0
dma       0
device    0
utc_dt    0
dtype: int64

state      985
dma       9093
device       0
utc_dt     268
dtype: int64

|X| (10593, 54)
|--- x0_TX <= 0.50
|   |--- x0_WY <= 0.50
|   |   |--- x0_VA <= 0.50
|   |   |   |--- x0_IL <= 0.50
|   |   |   |   |--- x2_DESK <= 0.50
|   |   |   |   |   |--- x0_WI <= 0.50
|   |   |   |   |   |   |--- x0_PA <= 0.50
|   |   |   |   |   |   |   |--- x0_GA <= 0.50
|   |   |   |   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_OH <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_TN <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 7
|   |   |   |   |   |   |   |   |   |   |--- x0_TN >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.00]
|   |   |   |   |   |   |   |   |   |--- x0_OH >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.07]
|   |   |   |   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.09]
|   |   |   |   |   |   |   |--- x0_GA >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.24]
|   |   |   |   |   |   |--- x0_PA >  0.50
|   |   |   |   |   |   |   |--- value: [0.27]
|   |   |   |   |   |--- x0_WI >  0.50
|   |   |   |   |   |   |--- value: [1.96]
|   |   |   |   |--- x2_DESK >  0.50
|   |   |   |   |   |--- x1_511 <= 0.50
|   |   |   |   |   |   |--- x0_MO <= 0.50
|   |   |   |   |   |   |   |--- x0_MS <= 0.50
|   |   |   |   |   |   |   |   |--- x0_OH <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_PA <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_TN <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 33
|   |   |   |   |   |   |   |   |   |   |--- x0_TN >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- x0_PA >  0.50
|   |   |   |   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.39]
|   |   |   |   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.53]
|   |   |   |   |   |   |   |   |--- x0_OH >  0.50
|   |   |   |   |   |   |   |   |   |--- x1_515 <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.52]
|   |   |   |   |   |   |   |   |   |--- x1_515 >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.37]
|   |   |   |   |   |   |   |--- x0_MS >  0.50
|   |   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.74]
|   |   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.79]
|   |   |   |   |   |   |--- x0_MO >  0.50
|   |   |   |   |   |   |   |--- x1_632 <= 0.50
|   |   |   |   |   |   |   |   |--- x1_616 <= 0.50
|   |   |   |   |   |   |   |   |   |--- x1_609 <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.40]
|   |   |   |   |   |   |   |   |   |--- x1_609 >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.54]
|   |   |   |   |   |   |   |   |--- x1_616 >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.89]
|   |   |   |   |   |   |   |--- x1_632 >  0.50
|   |   |   |   |   |   |   |   |--- value: [1.25]
|   |   |   |   |   |--- x1_511 >  0.50
|   |   |   |   |   |   |--- x0_MD <= 0.50
|   |   |   |   |   |   |   |--- x0_WV <= 0.50
|   |   |   |   |   |   |   |   |--- value: [0.32]
|   |   |   |   |   |   |   |--- x0_WV >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.91]
|   |   |   |   |   |   |--- x0_MD >  0.50
|   |   |   |   |   |   |   |--- value: [0.86]
|   |   |   |--- x0_IL >  0.50
|   |   |   |   |--- x2_PHON <= 0.50
|   |   |   |   |   |--- x1_602 <= 0.50
|   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |--- x1_632 <= 0.50
|   |   |   |   |   |   |   |   |--- value: [0.34]
|   |   |   |   |   |   |   |--- x1_632 >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.27]
|   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |--- value: [0.52]
|   |   |   |   |   |--- x1_602 >  0.50
|   |   |   |   |   |   |--- value: [0.60]
|   |   |   |   |--- x2_PHON >  0.50
|   |   |   |   |   |--- value: [1.20]
|   |   |--- x0_VA >  0.50
|   |   |   |--- x1_ <= 0.50
|   |   |   |   |--- value: [0.17]
|   |   |   |--- x1_ >  0.50
|   |   |   |   |--- x2_DESK <= 0.50
|   |   |   |   |   |--- value: [0.77]
|   |   |   |   |--- x2_DESK >  0.50
|   |   |   |   |   |--- value: [0.95]
|   |--- x0_WY >  0.50
|   |   |--- value: [1.22]
|--- x0_TX >  0.50
|   |--- x2_DESK <= 0.50
|   |   |--- value: [0.03]
|   |--- x2_DESK >  0.50
|   |   |--- value: [0.69]

Tree RPS MAE: 0.6780221069663994
|X| (10593, 54)
|X| (4750, 54)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (55, 2),
 'cluster_variance': 0.21666734720509373,
 'clustered_split_factor': 176,
 'clusterer': <__main__.TreeRPSClust object at 0x7f44638f0100>,
 'fit_shape': (623, 2),
 'split': 'location_device',
 'split_variance': 0.5364346441505898}

       sessions       rps
clust
15          433  0.119700
21           56  0.000000
22           61  0.000000
23           65  0.075846
24           32  0.000000
25           70  0.260000
27           58  0.144483
28           95  0.130316
29           30  0.000000
60         4267  0.367126
78           83  0.270120
81          601  0.481547
82          345  0.314072
83           71  0.460986
84          942  0.217431
86          360  0.712194
88          306  0.809052
89          617  0.289708
90          640  0.222584
91          101  0.405842
92          187  0.725134
94          666  0.602372
96          282  0.413688
100         323  0.572353
101         593  0.534519
102         423  0.599314
104         981  0.588757
105         117  0.263077
106         250  1.347563
107         460  0.330008
108         174  0.833736
109         153  0.345621
110         754  0.455106
111        1172  0.639994
112         366  0.379727
114         723  0.514523
117         970  0.454144
120        1275  0.522384
121         358  0.226117
123         241  1.159751
128         231  0.333160
129         288  0.395938
130         169  0.790592
131          34  0.106176
134          81  0.211666
135          32  0.000000
136         256  0.519062
141         201  0.658856
142          10  0.000000
144         381  0.544467
145          32  0.000000
147        1054  0.897903
151         102  1.044706
153         121  0.000000
154        2314  0.623405

<ipython-input-117-4b50f4a9b7cf>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] = 1
<ipython-input-117-4b50f4a9b7cf>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clust"] *= self.aggX["clust"]

{'clust_mtd': 'AggRPSClust',
 'clust_shape': (8, 2),
 'cluster_variance': 0.06769032504107025,
 'clustered_split_factor': 666,
 'clusterer': <__main__.AggRPSClust object at 0x7f444a681d60>,
 'fit_shape': (1116, 2),
 'split': 'location_os_device',
 'split_variance': 0.7142755578236577}

       sessions       rps
clust
0.0        9604  0.421849
1.0           2  0.000000
2.0          65  0.088308
3.0           2  0.000000
4.0           1  0.000000
5.0        3639  0.520732
6.0         571  0.529492
7.0       10667  0.560903

state               0
dma                 0
operating_system    0
device              0
utc_dt              0
dtype: int64

state                681
dma                 9355
operating_system      56
device                 0
utc_dt               278
dtype: int64

|X| (12079, 71)
|--- x0_TX <= 0.50
|   |--- x2_Windows <= 0.50
|   |   |--- x0_IL <= 0.50
|   |   |   |--- x0_WI <= 0.50
|   |   |   |   |--- x2_Mac OS X <= 0.50
|   |   |   |   |   |--- x0_VA <= 0.50
|   |   |   |   |   |   |--- x1_524 <= 0.50
|   |   |   |   |   |   |   |--- x0_PA <= 0.50
|   |   |   |   |   |   |   |   |--- x0_CA <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_NC <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x3_DESK <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 7
|   |   |   |   |   |   |   |   |   |   |--- x3_DESK >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |--- x0_NC >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.10]
|   |   |   |   |   |   |   |   |--- x0_CA >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.23]
|   |   |   |   |   |   |   |--- x0_PA >  0.50
|   |   |   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.31]
|   |   |   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.05]
|   |   |   |   |   |   |--- x1_524 >  0.50
|   |   |   |   |   |   |   |--- value: [0.32]
|   |   |   |   |   |--- x0_VA >  0.50
|   |   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |   |--- value: [0.13]
|   |   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |   |--- value: [0.74]
|   |   |   |   |--- x2_Mac OS X >  0.50
|   |   |   |   |   |--- x1_ <= 0.50
|   |   |   |   |   |   |--- x1_511 <= 0.50
|   |   |   |   |   |   |   |--- x1_501 <= 0.50
|   |   |   |   |   |   |   |   |--- x0_PA <= 0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.21]
|   |   |   |   |   |   |   |   |--- x0_PA >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.12]
|   |   |   |   |   |   |   |--- x1_501 >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.11]
|   |   |   |   |   |   |--- x1_511 >  0.50
|   |   |   |   |   |   |   |--- value: [0.00]
|   |   |   |   |   |--- x1_ >  0.50
|   |   |   |   |   |   |--- x0_NC <= 0.50
|   |   |   |   |   |   |   |--- x0_FL <= 0.50
|   |   |   |   |   |   |   |   |--- x0_OH <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_MI <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_ <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- x0_ >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.22]
|   |   |   |   |   |   |   |   |   |--- x0_MI >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [0.44]
|   |   |   |   |   |   |   |   |--- x0_OH >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.44]
|   |   |   |   |   |   |   |--- x0_FL >  0.50
|   |   |   |   |   |   |   |   |--- value: [0.44]
|   |   |   |   |   |   |--- x0_NC >  0.50
|   |   |   |   |   |   |   |--- value: [0.00]
|   |   |   |--- x0_WI >  0.50
|   |   |   |   |--- x3_DESK <= 0.50
|   |   |   |   |   |--- value: [1.96]
|   |   |   |   |--- x3_DESK >  0.50
|   |   |   |   |   |--- value: [0.11]
|   |   |--- x0_IL >  0.50
|   |   |   |--- x3_PHON <= 0.50
|   |   |   |   |--- value: [0.26]
|   |   |   |--- x3_PHON >  0.50
|   |   |   |   |--- value: [1.20]
|   |--- x2_Windows >  0.50
|   |   |--- x0_WY <= 0.50
|   |   |   |--- x0_VA <= 0.50
|   |   |   |   |--- x1_511 <= 0.50
|   |   |   |   |   |--- x1_508 <= 0.50
|   |   |   |   |   |   |--- x0_ND <= 0.50
|   |   |   |   |   |   |   |--- x0_MS <= 0.50
|   |   |   |   |   |   |   |   |--- x0_MO <= 0.50
|   |   |   |   |   |   |   |   |   |--- x0_IL <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x0_OH <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 39
|   |   |   |   |   |   |   |   |   |   |--- x0_OH >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- x0_IL >  0.50
|   |   |   |   |   |   |   |   |   |   |--- x1_602 <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- x1_602 >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.62]
|   |   |   |   |   |   |   |   |--- x0_MO >  0.50
|   |   |   |   |   |   |   |   |   |--- x1_632 <= 0.50
|   |   |   |   |   |   |   |   |   |   |--- x1_616 <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- x1_616 >  0.50
|   |   |   |   |   |   |   |   |   |   |   |--- value: [0.90]
|   |   |   |   |   |   |   |   |   |--- x1_632 >  0.50
|   |   |   |   |   |   |   |   |   |   |--- value: [1.30]
|   |   |   |   |   |   |   |--- x0_MS >  0.50
|   |   |   |   |   |   |   |   |--- x1_640 <= 0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.83]
|   |   |   |   |   |   |   |   |--- x1_640 >  0.50
|   |   |   |   |   |   |   |   |   |--- value: [0.78]
|   |   |   |   |   |   |--- x0_ND >  0.50
|   |   |   |   |   |   |   |--- value: [0.99]
|   |   |   |   |   |--- x1_508 >  0.50
|   |   |   |   |   |   |--- value: [0.83]
|   |   |   |   |--- x1_511 >  0.50
|   |   |   |   |   |--- x0_MD <= 0.50
|   |   |   |   |   |   |--- x0_WV <= 0.50
|   |   |   |   |   |   |   |--- value: [0.33]
|   |   |   |   |   |   |--- x0_WV >  0.50
|   |   |   |   |   |   |   |--- value: [0.91]
|   |   |   |   |   |--- x0_MD >  0.50
|   |   |   |   |   |   |--- value: [0.91]
|   |   |   |--- x0_VA >  0.50
|   |   |   |   |--- x1_511 <= 0.50
|   |   |   |   |   |--- x1_531 <= 0.50
|   |   |   |   |   |   |--- value: [0.92]
|   |   |   |   |   |--- x1_531 >  0.50
|   |   |   |   |   |   |--- value: [1.99]
|   |   |   |   |--- x1_511 >  0.50
|   |   |   |   |   |--- value: [0.20]
|   |   |--- x0_WY >  0.50
|   |   |   |--- value: [1.24]
|--- x0_TX >  0.50
|   |--- x2_Linux <= 0.50
|   |   |--- x1_618 <= 0.50
|   |   |   |--- x2_Mac OS X <= 0.50
|   |   |   |   |--- value: [0.63]
|   |   |   |--- x2_Mac OS X >  0.50
|   |   |   |   |--- value: [0.79]
|   |   |--- x1_618 >  0.50
|   |   |   |--- value: [0.93]
|   |--- x2_Linux >  0.50
|   |   |--- x1_618 <= 0.50
|   |   |   |--- value: [0.01]
|   |   |--- x1_618 >  0.50
|   |   |   |--- value: [0.05]

Tree RPS MAE: 0.6571527997694379
|X| (12079, 71)
|X| (5802, 71)
{'clust_mtd': 'TreeRPSClust',
 'clust_shape': (93, 2),
 'cluster_variance': 0.25457090913642827,
 'clustered_split_factor': 503,
 'clusterer': <__main__.TreeRPSClust object at 0x7f4464420f40>,
 'fit_shape': (1116, 2),
 'split': 'location_os_device',
 'split_variance': 0.7142755578236577}

       sessions       rps
clust
15          461  0.162603
16           35  0.000000
17           29  0.000000
18           53  0.000000
33          171  0.662807
...         ...       ...
229        1723  0.592565
230          99  0.936566
231         536  0.613526
233          57  0.000000
234          20  0.000000

[93 rows x 2 columns]

,clust_mtd,clusterer,split,fit_shape,clust_shape,split_variance,cluster_variance,clustered_split_factor
0,AggRPSClust,<__main__.AggRPSClust object at 0x7f4463921130>,browser,"(2, 2)","(2, 2)",0.008214,0.008214,2
1,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f446369fcd0>,browser,"(2, 2)","(1, 2)",0.008214,0.000000,1
2,AggRPSClust,<__main__.AggRPSClust object at 0x7f4463f9a070>,operating_system,"(6, 2)","(6, 2)",0.081340,0.081340,6
3,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f4460b42e80>,operating_system,"(6, 2)","(1, 2)",0.081340,0.000000,1
4,AggRPSClust,<__main__.AggRPSClust object at 0x7f4460b42400>,device,"(3, 2)","(3, 2)",0.087784,0.087784,3
5,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f4463552f10>,device,"(3, 2)","(1, 2)",0.087784,0.000000,1
6,AggRPSClust,<__main__.AggRPSClust object at 0x7f44637279a0>,product,"(2, 2)","(2, 2)",0.003104,0.003104,2
7,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f446094f790>,product,"(2, 2)","(1, 2)",0.003104,0.000000,1
8,AggRPSClust,<__main__.AggRPSClust object at 0x7f44638a8f70>,TOD,"(522, 2)","(7, 2)",0.371523,0.051615,44
9,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f4463a9ee80>,TOD,"(522, 2)","(7, 2)",0.371523,0.076318,7
10,AggRPSClust,<__main__.AggRPSClust object at 0x7f44638bb310>,dma,"(209, 2)","(8, 2)",0.340472,0.089085,8
11,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f4463a9e3d0>,dma,"(209, 2)","(1, 2)",0.340472,0.000000,1
12,AggRPSClust,<__main__.AggRPSClust object at 0x7f44638a8b50>,state,"(51, 2)","(8, 2)",0.205778,0.127709,8
13,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f444a60b0a0>,state,"(51, 2)","(1, 2)",0.205778,0.000000,1
14,AggRPSClust,<__main__.AggRPSClust object at 0x7f44637021c0>,location,"(339, 2)","(8, 2)",0.471682,0.066918,152
15,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f446365c4f0>,location,"(339, 2)","(31, 2)",0.471682,0.173053,56
16,AggRPSClust,<__main__.AggRPSClust object at 0x7f4460b34d30>,dma_os,"(689, 2)","(8, 2)",0.553719,0.052336,30
17,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f4463affcd0>,dma_os,"(689, 2)","(11, 2)",0.553719,0.080075,22
18,AggRPSClust,<__main__.AggRPSClust object at 0x7f4463aff5b0>,dma_device,"(451, 2)","(8, 2)",0.424180,0.093014,19
19,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f44636b95b0>,dma_device,"(451, 2)","(1, 2)",0.424180,0.000000,3
20,AggRPSClust,<__main__.AggRPSClust object at 0x7f444a761e80>,dma_os_device,"(905, 2)","(7, 2)",0.621152,0.058793,53
21,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f444a761460>,dma_os_device,"(905, 2)","(15, 2)",0.621152,0.140176,45
22,AggRPSClust,<__main__.AggRPSClust object at 0x7f444a761d30>,state_os,"(234, 2)","(8, 2)",0.358788,0.126533,28
23,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f44638f0490>,state_os,"(234, 2)","(24, 2)",0.358788,0.181518,49
24,AggRPSClust,<__main__.AggRPSClust object at 0x7f4463a4a100>,state_device,"(142, 2)","(8, 2)",0.245541,0.139955,18
25,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f444a761bb0>,state_device,"(142, 2)","(1, 2)",0.245541,0.000000,3
26,AggRPSClust,<__main__.AggRPSClust object at 0x7f444a761910>,state_os_device,"(368, 2)","(8, 2)",0.395426,0.131033,51
27,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f4463acff40>,state_os_device,"(368, 2)","(23, 2)",0.395426,0.183869,69
28,AggRPSClust,<__main__.AggRPSClust object at 0x7f4463a4ae80>,location_os,"(897, 2)","(8, 2)",0.653266,0.060033,438
29,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f4463a4a760>,location_os,"(897, 2)","(84, 2)",0.653266,0.250351,289
30,AggRPSClust,<__main__.AggRPSClust object at 0x7f444a761970>,location_device,"(623, 2)","(8, 2)",0.536435,0.058748,304
31,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f44638f0100>,location_device,"(623, 2)","(55, 2)",0.536435,0.216667,176
32,AggRPSClust,<__main__.AggRPSClust object at 0x7f444a681d60>,location_os_device,"(1116, 2)","(8, 2)",0.714276,0.067690,666
33,TreeRPSClust,<__main__.TreeRPSClust object at 0x7f4464420f40>,location_os_device,"(1116, 2)","(93, 2)",0.714276,0.254571,503

In [242]:
split,clusterer = perfdf.loc[27,["split","clusterer"]]
rps_df = split2aggrps[split]
rps_df["lps"] = rps_df["num_leads"] / rps_df["sessions"]
rps_df["rpl"] = rps_df["revenue"] / rps_df["num_leads"]
rps_df["score"] = rps_df[["score_null_avg","score_adv_avg","score_supp_avg"]].sum(axis=1)
rps_df["rps"] = rps_df["rps_avg"]
fitI = rps_df.reset_index()['utc_dt'] < eval_date
fitI.index = rps_df.index

rps_df["clust"] = -1
rps_df.loc[fitI,"clust"] = clusterer.transform(rps_df[fitI])
rps_df.loc[~fitI,"clust"] = clusterer.transform(rps_df[~fitI])

split_attr2unique_vals = {index_col: rps_df.index.unique(index_col) 
                          for index_col in rps_df.index.names[:-1]}
_,new_index_order = zip(*sorted((V.__len__(),c) for c,V in split_attr2unique_vals.items()))
rps_df = rps_df.reset_index()
campaign_df = rps_df \
    .groupby([*new_index_order[:-1], "clust"]) \
    .agg({
        "sessions": sum,
        "rps_avg": get_wavg_by(rps_df,"sessions"),
        new_index_order[-1]: lambda seq: tuple(set(seq))
    }) \
    .sort_index()

assert campaign_df["sessions"].sum() == rps_df["sessions"].sum()
camp_rps_wavg = wavg(campaign_df["rps_avg"],campaign_df["sessions"])
fit_rps_wavg = wavg(rps_df["rps_avg"], rps_df["sessions"])
assert abs(camp_rps_wavg - fit_rps_wavg) < 1e-5

|X| (4176, 19)
|X| (2227, 19)

In [246]:
camps = []
for idx,r in campaign_df.iterrows():
    camp = {
        "sessions_60d": r["sessions"], 
        "rps_avg_60d": r["rps_avg"]
    }
    for field,val in zip(new_index_order[:-1],idx):
        camp[field] = {"INCLUDE": val}
    last_field = new_index_order[-1]
    camp[last_field] = {
        "INCLUDE": r[last_field]
    }
    camps.append(camp)

excl_campaign_df = campaign_df.groupby([*new_index_order[:-1]]) \
    .agg({
        new_index_order[-1]: tuple
    })
def flatten(M):
    return tuple(el for r in M for el in r)
excl_campaign_df[new_index_order[-1]] = excl_campaign_df[new_index_order[-1]] \
    .apply(flatten)
for idx, r in excl_campaign_df.iterrows():
    camp = {}
    for field, val in zip(new_index_order[:-1], idx):
        camp[field] = {"INCLUDE": val}
    last_field = new_index_order[-1]
    camp[last_field] = {
        "EXCLUDE": r[last_field]
    }
    camps.append(camp)

camp_attr_df = pd.DataFrame(camps)
camp_attr_df.to_csv("campaign_dump.csv")
camp_attr_df

,sessions_60d,rps_avg_60d,device,operating_system,state
0,9.0,0.000000,{'INCLUDE': 'DESK'},{'INCLUDE': 'Android'},"{'INCLUDE': ('NY', 'FL', 'CA')}"
1,1.0,0.000000,{'INCLUDE': 'DESK'},{'INCLUDE': 'Android'},"{'INCLUDE': ('VA',)}"
2,2.0,0.000000,{'INCLUDE': 'DESK'},{'INCLUDE': 'Android'},"{'INCLUDE': ('TX',)}"
3,535.0,0.340172,{'INCLUDE': 'DESK'},{'INCLUDE': 'Linux'},"{'INCLUDE': ('OK', 'PA', 'AZ', 'RI', 'MN', 'ND..."
4,161.0,0.036894,{'INCLUDE': 'DESK'},{'INCLUDE': 'Linux'},"{'INCLUDE': ('NY',)}"
...,...,...,...,...,...
80,NaN,NaN,{'INCLUDE': 'TBLT'},{'INCLUDE': 'Linux'},"{'EXCLUDE': ('OK', 'PA', 'AZ', 'RI', 'MN', 'ND..."
81,NaN,NaN,{'INCLUDE': 'TBLT'},{'INCLUDE': 'Mac OS X'},"{'EXCLUDE': ('OK', 'PA', 'NJ', 'MI', 'DE', 'MD..."
82,NaN,NaN,{'INCLUDE': 'TBLT'},{'INCLUDE': 'Windows'},"{'EXCLUDE': ('AZ', 'DC', 'WA', 'OH', 'GA', 'NC')}"
83,NaN,NaN,{'INCLUDE': 'TBLT'},{'INCLUDE': 'iOS'},"{'EXCLUDE': ('WI', 'OH', 'TX')}"
84,NaN,NaN,{'INCLUDE': 'TBLT'},{'INCLUDE': 'iPadOS'},"{'EXCLUDE': ('OK', 'PA', 'RI', 'NJ', 'AK', 'MI..."

In [147]:
import json

TABOOLA_HC_CREDS = json.loads(os.getenv("TABOOLA_HC_CREDS"))
TABOOLA_PIVOT_CREDS = json.loads(os.getenv("TABOOLA_PIVOT_CREDS"))

from pytaboola import TaboolaClient
client = TaboolaClient(**TABOOLA_HC_CREDS)
client.token_details

from pytaboola.services import AccountService
from pytaboola.services import CampaignService

import itertools
import tqdm
import pandas as pd
import os
from pkg_resources import resource_filename as rscfn


acct_service = AccountService(client)
accnts = acct_service.list()["results"]
NETWORK_ACCNT_ID = "healthcareinc-network"
TEST_ACCNT_ID = "healthcareinc-sc2"
O65_ACCNT_ID = "taboolaaccount-rangaritahealthcarecom"
id2accnt = {a["account_id"]: a for a in accnts}

def accnt_camps(accnt):
    camp_service = CampaignService(client, accnt["account_id"])
    return camp_service.list()
aid2cid2camp = {}
for aid,a in tqdm.tqdm(id2accnt.items()):
    cid2camp = {c["id"]: c for c in accnt_camps(a)}
    aid2cid2camp[aid] = cid2camp

import json
json.dump(aid2cid2camp, open("camps.json", "w"))
O65_accnt_camps = accnt_camps(id2accnt[O65_ACCNT_ID])
print("|065_accnt_camps|:",len(O65_accnt_camps))

test_accnt_camps = accnt_camps(id2accnt[TEST_ACCNT_ID])
print("|test_accnt_camps|",len(test_accnt_camps))

import itertools
cross = itertools.product
import jmespath
get = jmespath.search

active_camps = get(
  "*.*[] | [?is_active]",
  aid2cid2camp,
)
print("|active campaigns|:",len(active_camps))

100%|| 6/6 [00:10<00:00,  1.77s/it]

|065_accnt_camps|: 100

In [261]:
def taboola_targetting_fields(r):
    def pivot(o):
        (t,v),*_ = o.items()
        return {
            "type": t,
            "value": [*v] if isinstance(v,(list,tuple,set)) else [v]
        }
    targetting_fields = {}
    if "device" in r:
        targetting_fields["platform_targeting"] = pivot(r["device"])
    if "state" in r:
        targetting_fields["sub_country_targeting"] = pivot(r["state"])
    if "dma" in r:
        targetting_fields["dma_country_targeting"] = pivot(r["dma"])
    if "operating_system" in r:
        (t,v),*_ = r["operating_system"].items()
        targetting_fields["os_targeting"] = {
            "type": "INCLUDE",
            "value": [
                {
                    "os_family": v
                },
            ],
        }
    return targetting_fields
ipydisp(camp_attr_df.apply(taboola_targetting_fields,axis=1).head())
taboola_targetting_fields(camp_attr_df.iloc[0,:])

0    {'platform_targeting': {'type': 'INCLUDE', 'va...
1    {'platform_targeting': {'type': 'INCLUDE', 'va...
2    {'platform_targeting': {'type': 'INCLUDE', 'va...
3    {'platform_targeting': {'type': 'INCLUDE', 'va...
4    {'platform_targeting': {'type': 'INCLUDE', 'va...
dtype: object

{'platform_targeting': {'type': 'INCLUDE', 'value': ['DESK']},
 'sub_country_targeting': {'type': 'INCLUDE', 'value': ['NY', 'FL', 'CA']},
 'os_targeting': {'type': 'INCLUDE', 'value': [{'os_family': 'Android'}]}}

In [269]:
src_accnt = id2accnt[O65_ACCNT_ID]
src_camp = active_camps[0]
dest_accnt = id2accnt[TEST_ACCNT_ID]

client = TaboolaClient(**TABOOLA_HC_CREDS)
client.authorization_header,client.token_details

resp = requests.post(
    f"{TABOOLA_BASE}/{src_accnt['account_id']}/campaigns/{src_camp['id']}/duplicate",
    json={
        "name": src_camp["id"],
        "start_date": (TODAY + 2*DAY).__str__(),
        **taboola_targetting_fields(camp_attr_df.iloc[0]),
    },
    params= {
        "destination_account": dest_accnt["account_id"],
    },
    headers=client.authorization_header,)
resp.raise_for_status()

new_camp = resp.json()

HTTPError: 400 Client Error: Bad Request for url: https://backstage.taboola.com/backstage/api/1.0/taboolaaccount-rangaritahealthcarecom/campaigns/10798231/duplicate?destination_account=healthcareinc-sc2

In [165]:
import json
TABOOLA_HC_CREDS = json.loads(os.getenv("TABOOLA_HC_CREDS"))
TABOOLA_PIVOT_CREDS = json.loads(os.getenv("TABOOLA_PIVOT_CREDS"))

from pytaboola import TaboolaClient
client = TaboolaClient(**TABOOLA_HC_CREDS)
client.token_details

import requests
import jmespath
TABOOLA_BASE = "https://backstage.taboola.com/backstage/api/1.0"
resp = requests.get(
    f"{TABOOLA_BASE}/resources/campaigns_properties/operating_systems",
    headers=client.authorization_header)
taboola_os = jmespath.search('results[].name',resp.json(),)

resp = requests.get(
    f"{TABOOLA_BASE}/resources/campaigns_properties/platforms",
    headers=client.authorization_header)
taboola_platforms = jmespath.search('results[].name', resp.json(),)

resp = requests.get(
    f"{TABOOLA_BASE}/resources/countries/us/dma",
    headers=client.authorization_header)
taboola_dmas = jmespath.search('results[].name',resp.json(),)

resp = requests.get(
    f"{TABOOLA_BASE}/resources/countries/us/regions",
    headers=client.authorization_header)
taboola_states = jmespath.search('results[].name',resp.json(),)

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats
import sklearn.feature_selection
import sklearn.metrics
from matplotlib import pyplot as plt
import sklearn.preprocessing

requires_campaign_split = [
    # "browser",
    "operating_system",
    "device",
    # "channel", # not actually sure what this is
    # "domain",
    "product",
    # "landing_page",
    "location",
]

for split in requires_campaign_split:
    rps_df = split2aggrps[split] .reset_index()
    Xs = rps_df \
        .apply(lambda r: [r["int_ix"]]*int(r["sessions"]), axis=1)
    X = np.concatenate(Xs.values).reshape(-1,1)
    ys = rps_df \
        .apply(lambda r: [r["rps_avg"]]*int(r["sessions"]),axis=1)
    y = np.concatenate(ys.values)
    # print(y.min(),np.quantile(y, 0.5),y.max())
    y = y > y.mean()
    # y = np.concatenate(ys.values).reshape(-1,1)
    # y = sklearn.preprocessing.KBinsDiscretizer(n_bins=2,encode="ordinal") \
    #     .fit_transform(y).reshape(-1)
    mi = sklearn.feature_selection.mutual_info_regression(X,y,discrete_features=True)
    print(split,mi,y.mean(),rps_df.shape)

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats
from matplotlib import pyplot as plt

requires_campaign_split = [
    "browser",
    "operating_system",
    "device",
    # "channel", # not actually sure what this is
    # "domain",
    "product",
    # "landing_page",
    "location",
]
combined_rps_df = pd.concat([df.reset_index() for df in split2aggrps.values()])
splitI = combined_rps_df["split_on"].isin(requires_campaign_split)
density = scipy.stats.gaussian_kde(
    dataset=combined_rps_df.loc[splitI,"rps_avg"],
    weights=combined_rps_df.loc[splitI, "sessions"],
    # bw_method="scott",
    # bw_method="silverman",
    # bw_method=0.1,
)
xs = np.linspace(0,2,100)
plt.plot(xs,density(xs))

In [ ]:
for split in requires_campaign_split:
    splitI = combined_rps_df["split_on"] == split
    density = scipy.stats.gaussian_kde(
        dataset=combined_rps_df.loc[splitI, "rps_avg"],
        weights=combined_rps_df.loc[splitI, "sessions"])
    xs = np.linspace(0, 2, 100)
    plt.plot(xs, density(xs))
    plt.title(split)
    plt.show()